<div class="col-lg-12">
  <form (submit)="getPlaylists()">
    <input type="text" [(ngModel)] = "channelId" class="form-control" placeholder="YouTube Channel ID"/>
  </form>
</div>
<div class="col-lg-12">
  <div class="row">
    <div *ngIf="playlists != null" class="col-lg-6">
      <select (change)="getPlaylistVideos($event.target.value)" class="form-control">
        <option *ngFor="let playlist of playlists" value={{playlist.id}}>{{ playlist.snippet.title }}</option>
      </select>
      <div id="playlist-videos" class="col-lg-12">
        <div *ngFor="let video of playlistVideos" class="row playlist-video">
          <img src="{{video.snippet.thumbnails.default.url}}" alt="Video Thumbnail" class="img-responsive img-thumbnail" />
          <h4>{{video.snippet.title}}</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
        <input type="text" class="form-control" (keyup)="searchVideos($event.target.value)" placeholder="Search YouTube"/>
        <div *ngFor="let video of searchVideoResults" class="row search-result-video">
          <img src="{{video.snippet.thumbnails.default.url}}" alt="Video Thumbnail" class="img-responsive img-thumbnail" />
          <h4>{{video.snippet.title}}</h4>
        </div>
    </div>
  </div>

</div>